# Import

## 사용자 모듈

In [1]:
from util import star

In [2]:
star.search_star("노원구")

['서울특별시 노원구 월계동 633-31(104,105,106호)',
 '서울특별시 노원구 월계동 333-1 월계이마트',
 '서울특별시 노원구 상계동 372-16',
 '서울특별시 노원구 공릉동 597-34, 597-30, 597-31, 597-32, 597-33',
 '서울특별시 노원구 상계동 694 임광아파트',
 '서울특별시 노원구 공릉동 379-27',
 '서울특별시 노원구 중계동 360-6중흥빌딩 103,203호',
 '서울특별시 노원구 상계동 723번지 ㈜KT 노원사옥',
 '서울특별시 노원구 월계동 410-1번지',
 '서울특별시 노원구 상계동 763-3 대한빌딩',
 '서울특별시 노원구 상계동 712 남성빌딩 1층',
 '서울특별시 노원구 월계동 333-1번지',
 '서울특별시 노원구 공릉동 653-8']

In [3]:
from bs4 import BeautifulSoup

In [4]:
# 불러온 라이브러리 보다 새로 정의한 함수가 우선순위 높음
def BeautifulSoup():
    print ("아름다운 스프")

In [5]:
BeautifulSoup()

아름다운 스프

In [6]:
# 별칭 부여
from bs4 import BeautifulSoup as BS

In [7]:
BS

bs4.BeautifulSoup

In [8]:
# 대소문자 구분
bs

NameError: name 'bs' is not defined

In [ ]:
# 파일을 직접 실행할 경우 __main__ 출력
# 외부에서 파일을 불러올 경우 파일의 이름 출력
__name__

## Python Standard Module

### 시계열 데이터
- 시간 개념이 포함된 데이터
- 주식, 코인, 온도, 코로나 확진자수, ....

In [9]:
"2022-04-06"

'2022-04-06'

In [10]:
from datetime import date, datetime, timedelta

In [11]:
# 현재 실행중인 컴퓨터 시스템의 시간
date.today()

datetime.date(2022, 4, 6)

In [12]:
# 현재시각 ms 까지
datetime.now()

datetime.datetime(2022, 4, 6, 11, 7, 19, 448773)

In [13]:
# 현재 날짜 + 100일 후의 데이터 
date.today() + timedelta(days=100)

datetime.date(2022, 7, 15)

In [14]:
today = date.today()
str(today)

'2022-04-06'

In [15]:
# 날짜 포맷 변경 
# Y -> 2022, y -> 22
today.strftime("%Y/%m/%d")

'2022/04/06'

In [16]:
now = datetime.now()
str(now)

'2022-04-06 11:07:20.053771'

In [17]:
now.strftime("%Y-%m-%d %H:%M:%S")

'2022-04-06 11:07:20'

In [18]:
rt = datetime.strptime("2022-04-01", "%Y-%m-%d")
rt

datetime.datetime(2022, 4, 1, 0, 0)

In [19]:
for x in range(1, 8):
    rt = datetime.strptime("2022/04/0{}".format(x), "%Y/%m/%d")
    print("2022/04/0{}".format(x), " -> ", rt.weekday())

2022/04/01  ->  4
2022/04/02  ->  5
2022/04/03  ->  6
2022/04/04  ->  0
2022/04/05  ->  1
2022/04/06  ->  2
2022/04/07  ->  3

In [20]:
rt.weekday()

3

# 스타벅스가 가장 많이 오픈한 요일 출력

In [25]:
rt_dict = star.starbucks()

### 딕셔너리 활용

In [34]:
day = dict()

for x in rt_dict['list']:
    if datetime.strptime(x['open_dt'], "%Y%m%d").weekday() in day:
        day[datetime.strptime(x['open_dt'], "%Y%m%d").weekday()] += 1
    else:
        day[datetime.strptime(x['open_dt'], "%Y%m%d").weekday()] = 1

In [ ]:
day = dict()

for x in rt_dict['list']:
    if datetime.strptime(x['open_dt'], "%Y%m%d").weekday() in day:
        day[datetime.strptime(x['open_dt'], "%Y%m%d").weekday()] += 1
    else:
        day[datetime.strptime(x['open_dt'], "%Y%m%d").weekday()] = 1

In [42]:
day = dict(sorted(day.items(), key=lambda x:x[1], reverse=True))
day[]

{3: 149, 4: 132, 1: 124, 2: 113, 0: 48, 5: 6, 6: 2}

In [47]:
rt = [datetime.strptime(x['open_dt'], "%Y%m%d").weekday() for x in rt_dict['list']]
    
for date_, x in zip("월화수목금토일", range(7)):
    print(date_,"->", rt.count(x))

월 -> 48
화 -> 124
수 -> 113
목 -> 149
금 -> 132
토 -> 6
일 -> 2

In [48]:
for x, y in zip(range(7), "월화수목금토일"):
    print(x, y)

0 월
1 화
2 수
3 목
4 금
5 토
6 일

In [49]:
dict(zip(range(7), "월화수목금토일"))

{0: '월', 1: '화', 2: '수', 3: '목', 4: '금', 5: '토', 6: '일'}

# 전국 스타벅스

In [55]:
url = "https://www.starbucks.co.kr/store/getSidoList.do"
r = requests.post(url)

In [58]:
[x['sido_cd'] for x in r.json()['list']]

['01',
 '08',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17']

In [60]:
url= 'https://www.starbucks.co.kr/store/getStore.do?r=804IUG79N7'
payload = {
        'in_biz_cds' : '0',
        'in_scodes' : '0',
        'ins_lat' : '37.5627128',
        'ins_lng' : '126.93279869999999',
        'search_text' : '',
        'p_sido_cd' : '01',
        'p_gugun_cd' : '',
        'in_distance' : '0',
        'in_biz_cd' : '',
        'isError' : 'true',
        'searchType' : 'C',
        'set_date' : '',
        'all_store' : '0',
        'T03' : '0',
        'T01' : '0',
        'T12' : '0',
        'T09' : '0',
        'T30' : '0',
        'T05' : '0',
        'T22' : '0',
        'T21' : '0',
        'T10' : '0',
        'T36' : '0',
        'P10' : '0',
        'P50' : '0',
        'P20' : '0',
        'P60' : '0',
        'P30' : '0',
        'P70' : '0',
        'P40' : '0',
        'P80' : '0',
        'whcroad_yn' : '0',
        'P90' : '0',
        'new_bool' : '0',
        'iend' : '1000',
        'rndCod' : 'V8UNZFKU44',}

final = []
for x in r.json()['list']:
    payload['p_sido_cd'] = x['sido_cd']
    r2 = requests.post(url, data=payload)
    final.extend(r2.json()['list'])

In [61]:
len(final)

1673

# 전국 스타벅스R 매장 개수

In [74]:
starbucks_r = [x['s_name'] for x in final if x['s_name'][-1] == "R"]

len(starbucks_r)

73

In [76]:
# 전국 DT매장 개수
starbucks_dt = [x['s_name'] for x in final if x['s_name'][-2:] == "DT"]
len(starbucks_dt)

344

In [77]:
import pickle

In [78]:
with open('./starbucks.pkl', "wb") as f:
    pickle.dump(final, f)

In [79]:
with open("./starbucks.pkl", "rb") as f:
    final2 = pickle.load(f)